body {
    counter-reset: cellNo;
  }
.toe-Box{
    width: 50px;
    height: 150px;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
    padding-top: 3%;
    font-weight: 500;
}
.toe-Box::after{
    counter-increment: cellNo;
    content: counter(cellNo);
    font-size: 15px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: black;
}
.ticktaktoe .row{
    border-bottom: 4px solid #000;
}
.ticktaktoe .row:last-child{
    border-bottom: none;
}
.ticktaktoe .row .toe-Box:first-child{
    border-right: 4px solid #000;
}
.ticktaktoe .row .toe-Box:last-child{
    border-left: 4px solid #000;
}
/* div.toe-Box::before {
    content: "";
    border-top: 4px solid red;
    display: block;
    width: 50%;
    transform: skewY(33deg);
}
div.toe-Box::after {
    content: "";
    border-top: 4px solid red;
    display: block;
    width: 50%;
    transform: skewY(33deg);
} */
/* body{
    background-color: red
} */