.toe-Box{
    width: 50px;
    height: 150px;
    cursor: pointer;
    /* border: 1px solid orange; */
}
.ticktaktoe .row{
    border-bottom: 1px solid #000;
}
.ticktaktoe .row:last-child{
    border-bottom: none;
}
.ticktaktoe .row .toe-Box:first-child{
    border-right: 1px solid #000;
}
.ticktaktoe .row .toe-Box:last-child{
    border-left: 1px solid #000;
}